<!doctype html>
<html class="no-js" lang="en">
<html xmlns:th>
<head th:replace="head :: head"></head>
<body>
<div th:replace="header :: header"></div>
<div class="search-flyoveray"></div>
<div class="cart-flyout">
    <div class="cart-flyout-inner">
        <a class="btn-close-cart" href="#">
            <i class="fa fa-times"></i>
        </a>
        <div class="cart-flyout__content">
            <div class="cart-flyout__heading">Shopping Cart</div>
            <div class="widget_shopping_cart_content">
                <ul class="product_list_widget">
                    <li>
                        <div class="thumb">
                            <img src="assets/images/product/sm-product-1.jpg" alt="product">
                        </div>
                        <div class="content">
                            <h6><a href="single-product.html">Really Sweet Sweater</a></h6>
                            <div class="quntity">11 × $59.99</div>
                            <button class="remove-btn">×</button>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="minicart__total">Subtotal: <span class="price">659.89</span></p>
            <div class="cart__btn">
                <a href="/cart">View cart</a>
                <a href="/checkout">Checkout</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="sliderbanner :: sliderbanner"></div>

<div class="main-wrapper" style="height:550px;">
    <div class="container">
        <br/>
        <h4 class="title"><strong>Contact us</strong></h4>
        <h5 class="title">Send us some feedback</h5>
        <form action="#" th:action="@{/contact}"  method="post" style="padding-top:10px;">
            <textarea rows="4" id="feedbackMessage" name="feedbackMessage" th:value="${feedbackMessage}" placeholder="Write your feedback here..." style="padding:10px; font-size:14px;" required></textarea><br/><br/>
            <input type="text" id="feedbackEmail" name="feedbackEmail" th:value="${feedbackEmail}" placeholder="Enter your email..." required><br/><br/>
            <input type="submit" value="Send Feedback" style="padding:10px; width:100px; font-size:12px;"/>
        </form>
        <span th:if="${thankyoumessage != null}" style="color:#990000;"><br/><span th:utext="${thankyoumessage}"></span></span>
        <br/>
        <h5 class="title">Address</h5>
        <h6>Ankgatan 1<br/>
        123 45, Ankeborg<br/>
        Ankeland</h6>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>
</body>
</html>