<footer th:fragment="footer" class="footer-area bg-color plr--100 plr_lg--40 plr_md--30 plr_sm--30 clearfix" data-bg-color="#f4f8fa">
    <!-- Start Footer Top -->
    <div class="footer-top ptb--80">
        <div class="row">
            <div class="col-custom--5">
                <div class="footer-widget">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/assets/images/logo/TS_logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="inner">
                        <p>Thinking outside the box</p>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_mobile--40">
                <div class="footer-widget">
                    <h5 class="title">Who we are</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h5 class="title">Categories</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h5 class="title">Customer Service</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-custom--5 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h5 class="title">Socialize with us</h5>
                    <div class="inner">
                        <ul class="ft-link">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Google +</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-inner ptb--25 text-center">
                        <p class="mb--0">Copyright © All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/vendor/modernizr.min.js"></script>
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</footer>
