<!doctype html>
<html class="no-js" lang="en">
<html xmlns:th>
<head th:replace="head :: head"></head>
<body>
<div th:replace="header :: header"></div>

<!-- ÄNDRA HÄRIFRÅN -->


    <!-- Start Breadumb Area -->
    <div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <h2 class="font--40 mb--0">Login/Register</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadumb Area -->
    <div class="main-wrapper">
        <!-- My Account Page -->
        <div class="my-account-area ptb--120 ptb_md--80 ptb_sm--80 bg-color" data-bg-color="#ffffff">
            <div class="container">
                <div class="row">
                    <!-- Login Form -->
                    <div class="col-lg-6">
                        <div class="login-form-wrapper">
                            <form action="#" class="sn-form sn-form-boxed">
                                <div class="sn-form-inner">
                                    <div class="single-input">
                                        <label for="login-form-email">Username or email address *</label>
                                        <input type="text" name="login-form-email" id="login-form-email">
                                    </div>
                                    <div class="single-input">
                                        <label for="login-form-password">Password *</label>
                                        <input type="password" name="login-form-password" id="login-form-password">
                                    </div>
                                    <div class="single-input">
                                        <button type="submit" class="mr-3">
                                            <span>Login</span>
                                        </button>
                                        <div class="checkbox-input">
                                            <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                            <label for="login-form-remember">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="single-input">
                                        <a href="#">Lost your password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--// Login Form -->

                    <!-- Register Form -->
                    <div class="col-lg-6 mt_md--30 mt_sm--30">
                        <div class="login-form-wrapper">
                            <form action="#" class="sn-form sn-form-boxed">
                                <div class="sn-form-inner">
                                    <div class="single-input">
                                        <label for="register-form-name">Username</label>
                                        <input type="text" name="register-form-name" id="register-form-name">
                                    </div>
                                    <div class="single-input">
                                        <label for="register-form-email">Email address</label>
                                        <input type="text" name="register-form-email" id="register-form-email">
                                    </div>
                                    <div class="single-input">
                                        <label for="register-form-password">Password</label>
                                        <input type="password" name="register-form-password" id="register-form-password">
                                    </div>
                                    <div class="single-input">
                                        <button type="submit">
                                            <span>Register</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--// Register Form -->
                </div>
            </div>
        </div>
        <!--// My Account Page -->

        <!-- ÄNDRA HIT -->
        <br/>
    </div>

<footer th:replace="footer :: footer"></footer>
</body>
</html>