<!doctype html>
<html class="no-js" lang="en">
<html xmlns:th>
<head th:replace="head :: head"></head>
<body>
<div th:replace="header :: header"></div>
<div class="search-flyoveray"></div>
<div class="cart-flyout">
    <div class="cart-flyout-inner">
        <a class="btn-close-cart" href="#">
            <i class="fa fa-times"></i>
        </a>
        <div class="cart-flyout__content">
            <div class="cart-flyout__heading">Shopping Cart</div>
            <div class="widget_shopping_cart_content">
                <ul class="product_list_widget">
                    <li>
                        <div class="thumb">
                            <img src="assets/images/product/sm-product-1.jpg" alt="product">
                        </div>
                        <div class="content">
                            <h6><a href="single-product.html">Really Sweet Sweater</a></h6>
                            <div class="quntity">11 × $59.99</div>
                            <button class="remove-btn">×</button>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="minicart__total">Subtotal: <span class="price">659.89</span></p>
            <div class="cart__btn">
                <a href="/cart">View cart</a>
                <a href="/checkout">Checkout</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="sliderbanner :: sliderbanner"></div>

<div class="main-wrapper">
    <div class="container">
        <br/><br/>

        <h4>Search Results</h4>
        <h5 th:if="${searchResult.empty}"> No products found for your search "<span th:text="${keyword}"></span>" </h5>
        <table><tbody>
        <tr th:each="searchResult : ${searchResult}">
            <td width="150">
                <img th:src="@{${'/assets/images/product/sm-product-' + searchResult.productId + '.jpg'}}" alt="Product Images" />
            </td>
            <td valign="top" align="left">
                <a th:href="@{product/{id}(id=${searchResult.productId})}"><h5><span th:text="${searchResult.productName}"></span></h5> <h6><b><span th:text="${searchResult.shortDescription}"></span></b></h6><h6><small>$<span th:text="${searchResult.productPrice}"></span></small></h6> </a><br/>
            </td>
            </tr>

        </tbody>
        </table>
    </div>
    <br/>
</div>

<footer th:replace="footer :: footer"></footer>
</body>
</html>