<div th:fragment="sliderbanner" class="slider-area slider--2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-activation">
                    <!-- Start Single Slide -->
                    <div class="slide-content bg_image bg_image--1 d-flex align-items-center">
                        <div class="slide-text plr--50">
                            <p style="color:#FFFFFF;">Shop some pretty things and make yourself smile.</p>
                            <div class="shop-now-btn">
                                <button type="button" style="border-color:#FFFFFF; color:#FFFFFF;">Shop Now <i class="fa fa-arrow-right" style="color:#FFFFFF;"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    <!-- Start Single Slide -->
                    <div class="slide-content bg_image bg_image--2 d-flex align-items-center">
                        <div class="slide-text plr--50">
                            <p style="color:#FFFFFF;">Lorem Ipsum is simply dummy text of the printing and <br> typesetting industry the printing and typesetting industry.</p>
                            <div class="shop-now-btn">
                                <button type="button" style="border-color:#FFFFFF; color:#FFFFFF;">Shop Now <i class="fa fa-arrow-right" style="color:#FFFFFF;"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                </div>
            </div>
        </div>
    </div>
</div>